.report_home .col {
    border: 1px solid #2e3095;
    padding: 20px;
    font-size: 16px;
    margin: 11px;
    background: #f5f5f5;
    color: #2e3095;
    font-weight: bold;
}
.report_home .col .icon {
    font-size: 60px;
    border-radius: 100%;
    padding: 0px 12px;
    color: #2e3095;
 
}
.reports_list ion-item {
    margin-bottom: 10px;
    padding: 6px 10px; 
    cursor: pointer;
    font-weight: bold;
    color: rgb(6, 52, 143);
    background-color: rgb(245, 245, 245);
}
.reports_list ion-item .icon{
    color: #2e3095;
}
